[package]
name = "None"
version = "0.1.0"

[dependencies]
docopt = "docopt--CURRENT_VERSION_TEST"
pad = "pad--CURRENT_VERSION_TEST"
crates-io = { path = "src/crates-io", version = "0.10" }
serde_json = "serde_json--CURRENT_VERSION_TEST"
foo = { version = "foo--CURRENT_VERSION_TEST", features = ["serde"] }
tar = { version = "tar--CURRENT_VERSION_TEST", default-features = false }
serde_derive = { version = "1.0", optional = true, path = "../serde_derive" }
syn = { version = "syn--CURRENT_VERSION_TEST", default-features = false, features = ["parsing"] }
serde_derive_internals = { version = "=0.15.1", default-features = false, path = "../serde_derive_internals" }
bar = { git = "https://github.com/foo/bar.git", version = "0.10" }

[dependencies.semver]
features = ["serde"]
version = "semver--CURRENT_VERSION_TEST"

[dev-dependencies]
assert_cli = "assert_cli--CURRENT_VERSION_TEST"
cargotest = { path = "tests/cargotest" }
tempdir = "tempdir--CURRENT_VERSION_TEST"
serde_driver = { version = "1.0", path = "../serde_derive" }

[build-dependencies]
serde = { version = "1.0", path = "../serde" }

[target.'cfg(unix)'.dependencies]
openssl = "openssl--CURRENT_VERSION_TEST"

[features]
default = []
test-external-apis = []
unstable = []
